<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Example auth app</title>
</head>
<body>

<form th:action="@{/save}" method="post">
    National Identity Card (NIC) Number:<br>
    <input type="text" name="nic"><br>
    Name:<br>
    <input type="text" name="name"><br>
    Address:<br>
    <input type="text" name="address"><br>
    Contact Number:<br>
    <input type="text" name="tel"><br>
    <div><input type="submit" value="Submit"/></div>
</form>
</body>
</html>